* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0.5px solid red;
}

:root {
  /* font sizes */
  --fs-base: 16px;
  --fs-dl: 3.25rem;
  --fs-dm: 2.875rem;
  --fs-ds: 2.5625rem;
  --fs-h1: 2.25rem;
  --fs-h2: 2rem;
  --fs-h3: 1.8125rem;
  --fs-h4: 1.625rem;
  --fs-h5: 1.4375rem;
  --fs-h6: 1.25rem;
  --fs-subtitle: 1.125rem;
  --fs-body: 1rem;
  --fs-caption: 0.875rem;
  --fs-label: 0.8125rem;
  --fs-tagline: 0.6875rem;

  /* colors */
  --green-1: hsl(106, 73%, 26%);
  --white-text-caption: hsl(0, 0%, 100%);
  --white-text-body: hsl(0, 0%, 100%);
  --white-background: hsl(0, 0%, 100%);
  --black-text: hsl(0, 0%, 0%);

  /* padding */
  --pd-vertical-sect-align: 5px 20px;
  --pd-links: 4px 8px;
  --pd-btn: 8px 16px;

  /* gap */
  --gap-5: 5px;

  /* border */
  --border-radius: 5px;
}

html {
  font-family: "Hind", sans-serif;
  overflow-x: hidden;
  font-size: var(--fs-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Khand", sans-serif;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
